<!DOCTYPE html>

<html>
<head>
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, AuthoringTagHelpers
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/_Master.css" asp-append-version="true"/>

</head>
<body>
    <a href="~/Home/Index/">Главная страница</a>
    <a href="~/Home/Data/">Страница с выборкой</a>
    <a href="~/Home/Add/">Страница добавления строк</a>
    @RenderBody()
</body>
</html>
