
table {
    width: 100%;
    border: 1px solid black;
}

a {
    display: inline-block;
    cursor: pointer;
    padding: 5px 20px;
    text-decoration: none;
    background-color: lightgrey;
    border-radius: 10px;
    border: 1px solid black;
}

input {
    padding: 5px;
    border: 1px solid black;
}

td {
    width: 33%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    background-color: lightgrey;
}


