<!DOCTYPE html>
<html>
<head>
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, AuthoringTagHelpers
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/_Master.css" asp-append-version="true"/>
</head>
<body>
    <div class="toolbox">
        <ul>
            <li><a href="~/Home/Index/">Главная страница</a></li>
            <li><a href="~/Home/Data/">Страница с выборкой</a></li>
            <li><a href="~/Home/Add/">Страница добавления строк</a></li>
            <li><a href="~/Counters/Index">Главная страница на RazorPages</a></li>
            <li><a href="~/Counters/Add">Страница добавления строк на RazorPages</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>