body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;
    color: black;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

table {
    width: 100%;
    border: 1px solid black;
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    background-color: lightgrey;
}


.toolbox:hover a:hover{
    background-color: grey;
    transition: 0.2s;
}


.toolbox a {
    padding: 5px 20px;
}

.toolbox ul {
    padding: 0px;
    display: inline-flex;
    width: 100%;
}

.toolbox li {
    display: inline-flex;
}

.sort a {
    padding: 5px 0 5px 0;
    display: grid;
    grid-template: auto;
    width: 100%;
}

.page a {
    padding: 5px 20px;
}

.active a {
    font-size: 17pt;
    background-color: grey;
}
.page li{
    display: inline-block;
}

input {
    padding: 5px;
}

td {
    width: 33%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    background-color: lightgrey;
}

.formgrid {
    display: grid;
    grid-template: 30%;
    grid-row-gap: 10px;
}


@media (max-width: 750px) {

    .formgrid {
        display: grid;
        grid-template: 100%;
    }

    .filter {
        display: grid;
        width: 100%;
    }
    .toolbox {
        width: 100%;
    }

}@media (min-width: 750px) {

    .filter {       
        display: inline;
        width: 50%;
    }
    .toolbox {
        width: 50%;
    }
    .formgrid {
        display: grid;
        grid-template: auto;
        width: 30%;
    }
}
