body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;
    color: black;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-chevron-down:before {
    content: "\f078";
}

.glyphicon-chevron-up:before {
    content: "\f077";
}

@media (min-width: 600px) {
    a {
        display: grid;
        grid-template: auto;
    }

    .formgrid {
        display: grid;
        grid-template: 100%;
        grid-row-gap: 10px;
    }
}
table {
    width: 100%;
    border: 1px solid black;
}

a {
    cursor: pointer;
    padding: 5px 20px;
    color: black;
    text-decoration: none;
    background-color: lightgrey;
    border: 1px solid black;
}

a:hover {
    background-color: grey;
    transition: 0.2s;
    font-size: 17pt;
}

input {
    padding: 5px;
    border: 1px solid black;
}

td {
    width: 33%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    background-color: lightgrey;
}

.formgrid {
    display: grid;
    grid-template: 30%;
    grid-row-gap: 10px;
}


@media (max-width: 600px) {
    a {
        display: grid;
        grid-template: auto;
    }

    .formgrid {
        display: grid;
        grid-template: 100%;
    }

}@media (min-width: 600px) {
    a {
        display: inline-block;
        grid-template: 30%;
    }

    .formgrid {
        display: grid;
        grid-template: auto;
        width: 30%;
    }
}
