@page
@model Counters.AddModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add";
}
<html>
<body>
    <h3>Форма добавления в таблицу</h3>
    <p>Заполните все поля</p>
    <form method="post" asp-antiforgery="true">
        <div class="formgrid">
            <label>Number</label>
            <input type="number" min="1" placeholder="Number" name="Number" required />
            <label>Value</label>
            <input type="number" min="1" placeholder="Value" name="Value" required />
            <input type="submit" value="Добавить" />
        </div>
    </form>
</body>
</html>