@{
    Layout = "_Layout";
    ViewData["Title"]= "Add";
}

<!DOCTYPE html>

<html>
<body>
    <h3>Форма добавления в таблицу</h3>
    <p>Заполните все поля</p>
    <form method="post">
            <label>Number</label>
            <input type="number" min="1" placeholder="Number" name="Number" required />
            <label>Value</label>
            <input type="number" min="1" placeholder="Value" name="Value" required />
            <input type="submit" value="Добавить" />
    </form>
</body>
</html>