@{ 
    Layout = null;
 }

<!DOCTYPE html>

<html>
<head>
    <title>Добавление в таблицу</title>
    <style type="text/css">
        input
        {
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h3>Форма добавления в таблицу</h3>
    <p>Заполните все поля</p>
    <form method="post">
        <input type="number" min="1" placeholder="Number" name="Number" required />
        <input type="number" min="1" placeholder="Value" name="Value" required />
        <input type="submit" value="Добавить" />
    </form>
</body>
</html>