@model IEnumerable<Counters.Models.Data>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Data";
}
<!DOCTYPE html>

<html>
<head>
    <title>Список всех позиций</title>
</head>
<body>
    <h3>Counters</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Count</td>
            <td>Count more than one</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.ID)</td>
                <td>@(item.Count)</td>
                <td>@(item.MoreThanOne)</td>
            </tr>
        }
    </table>
    <p></p><a href="~/Home/Add/">Добавить</a>
</body>
</html>
