@model IEnumerable<Counters.Models.Data>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список всех позиций</title>
    <style type="text/css">
        table {
            width: 300px;
            border: 1px solid black;
        }

        a {
            display: inline-block;
            cursor: pointer;
            padding: 5px 20px;
            text-decoration: none;
            background-color: #deefff;
            border-radius: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h3>Counters</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Count</td>
            <td>Count more than one</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.ID)</td>
                <td>@(item.Count)</td>
                <td>@(item.MoreThanOne)</td>
            </tr>
        }
    </table>
    <p></p><a href="~/Home/Add/">Добавить</a>
</body>
</html>
