@{
    Layout = "_Layout";
    ViewData["Title"] = "IndexAJAX";
    
}

<!DOCTYPE html>
<html>
<head>
    <title>Список всех позиций</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>

</body>
</html>