@model IEnumerable<Counters.Counter>
@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>Список всех позиций</title>    
</head>
<body>
    <h3>Counters</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Number</td>
            <td>Value</td>
        </tr>
        @foreach(var counter in Model)
        {
            <tr>
                <td>@(counter.ID+8)</td>
                <td>@counter.Number</td>
                <td>@counter.Value</td>
            </tr>
        }
    </table>
    <p></p><a href="~/Home/Add/">Добавить</a>
</body>
</html>
