@model IEnumerable<Counters.Counter>
@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список всех позиций</title>
    <style type="text/css">
        table 
        {
            border: 1px solid black; 
            width: 300px;
        }
        td, tr 
        {
            padding: 3px;
            text-align: left;
            border: 1px solid black;
        }
        a
        {
            display: inline-block;
            cursor: pointer;
            padding: 5px 20px;
            text-decoration: none;
            background-color: #deefff;
            border-radius: 10px;
            border: 1px solid black; 
        }
    </style>
</head>
<body>
    <h3>Counters</h3>
    <table>
        <tr>
            <td>Number</td>
            <td>ID</td>
            <td>Counter</td>
        </tr>
        @foreach(var counter in Model)
        {
            <tr>
                <td>@counter.Number</td>
                <td>@counter.ID</td>
                <td>@counter.Value</td>
            </tr>
        }
    </table>
    <p></p><a href="https://localhost:44317/Home/Add/">Добавить</a>
</body>
</html>